.description-banner{
    background-color : black;
    text-align : center;
    padding-bottom : 30px;
    height : 100vh;

    .banner-title{
        padding-top : 200px;
        }

    .description-banner-image{
        margin : 0 auto;
    }
}