.home-banner{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    min-height: calc(100vh - 60px); // height of screen - height of header

    .banner-title{
        max-width: 900px;
    }

    .banner-price{
        font-family: $text-font;
        font-size: 16px;
        font-weight: 300;
        color: $dark;

        strong{font-weight: 500;}
    }

    .banner-blob{
        position: absolute;
        z-index: -1;
        width: 140px;

        &.blob-1{
            top: 0;
            right: 0;
        }
        &.blob-2{
            bottom: 200px;
            left: 0;
        }

        @include media-breakpoint-up(md){
            width: auto;

            &.blob-2{
                bottom: 60px;
            }
        }
    }
}

.home-section{
    margin-top: 140px;

    .section-image{
        width: 100%;
        margin-bottom: 40px;
        @include media-breakpoint-up(md){
            margin: 0;
        }
    }
}